<div class="no-questions">
    <img src="/images/no-questions.svg" alt="Sem questões">
    <p>Sem perguntas por aqui...</p>
    <p>Faça sua primeira pergunta e envie o <br> código dessa sala para outras pessoas!</p>
</div>